:root{
    --card-height : 65vh;
    --card-width: calc(var(--card-height)/1.5);
}
body{
    background: #1b3f1b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.card{
    color: #e0ffe000;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    display: flex;
    font-size: 32px;
    background-color: #0f230f;
    border-radius: 22px;
    height: var(--card-height);
    width: var(--card-width);
    cursor:pointer;
}

.card:hover{
    color: #e0ffe0FF;
    transition: color 800ms;
}